{% extends "dashboard/_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% include "dashboard/components/create_event/modal.html" %}

<div class="d-flex flex-row flex-sm-row justify-content-between align-items-start align-items-sm-center mb-4 gap-2">
    <h1 class="h2 fw-bold mb-0">Home</h1>
    {% include "dashboard/components/create_event/button.html" %}
</div>

<section id="stats" class="row g-3 g-sm-4">

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-sm h-100" onclick="location.href='{% url 'dashboard-my-events' %}'">
            <div class="card-body text-center">
                <i class="fa-solid fa-calendar-check fa-2x text-primary mb-2"></i>
                <h5 class="card-title">Created events</h5>
                <p class="display-6 fw-bold text-primary mb-0">
                    {{ created_events }}
                </p>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-0 shadow-sm h-100"  onclick="location.href='{% url 'event-detail' most_popular_event.id %}'">
            <div class="card-body text-center">
                <i class="fa-solid fa-calendar-check fa-2x text-primary mb-2"></i>
                <h5 class="card-title">Most-popular event</h5>
                <p class="display-6 fw-bold text-primary mb-0">
                    {{ most_popular_event.title }}
                </p>
            </div>
        </div>
    </div>

</section>

{% endblock %}